*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

body{
   background-color:  rgb(12, 12, 12);
   font-family: sans-serif;
   color: rgb(170, 160, 200);
   line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap:50px;
    padding-top:40px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: rgb(242, 229, 43);
    border: 1px solid rgb(13, 13, 13);
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top:40px;
}

.maincontent{
    background-color: rgb(113, 207, 244);
    border: 1px solid rgba(13, 13, 13, 0.8);
    border-radius: 16px;
    padding: 40px;
}

/* Profile-section */
.profile img{
    height:120px;
    width:120px;
    border-radius: 50%;
    border: 1px solid rgb(249, 246, 246);
    /* box-shadow: 2px 2px 2px rgb(238, 234, 234); */
}
.profile img:hover{
    box-shadow: 2px 2px 2px 2px black;
}


.profile h2{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 10px;
    color:rgb(41, 41, 41);

}
.profile p{
    background-color: #1e1e11;
    padding:5px 15px;
    color:#FFBF00;
    border: 2px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}
.profile{
    text-align: center;
}
/* contact-section */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 30px;
}
.head{
    font-weight: 500;
    font-size: 0.8rem;
    color: #434343;
}
.value{
    color: rgb(156, 160, 160);
    text-decoration: none;
}
.value:hover{
    color: black;
    cursor: pointer;
}
.email{
    margin-bottom: 15px;
}
.phone{
    margin-bottom: 15px;
}
.location{
margin-bottom: 15px;
}

/* social media */
.social{
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 30px;
    text-align: center;
}
.social img{
    height: 24px;
    width: 24px;
   margin-left: 5px;
   opacity: 0.75;
}
.social img:hover{
    opacity: 1;
    box-shadow: 2px 2px 2px black;
    height: 30px;
    width: 30px;
}

/* main-content */
 
/* navigation */
.nav{
    
     border-bottom: 2px solid #585858;
    margin-bottom: 20px;
    padding-bottom: 20px;
    

}
nav{
    display: flex;
    justify-content: end;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color:#4d4d30;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav a:hover{
    color: #040404;
}
.active{
    color:#040404;
}

/* about */
.heading{
    color:#1d1d1d;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width:70px;
    height: 5px;
    background-color: #f2f2ef;
    margin-bottom: 15px;
    border-radius: 2px;
}
.content{
    text-align: justify;
    color:#212116;
}
#about{
    margin-bottom:40px ;
}

/* skills-section */
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap:40px;
}

.item{
    padding: 20PX;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #f5f5f0;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.item img{
    height: 48px;
    width: 48px;
    margin-bottom: 15px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
    color: #1e1e11;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}
#skills{
    margin-bottom:40px ;
}

/* portfolio */
#education{
    margin-top: 30px;
}
.edtech{
    position: relative;
    margin-top: 20px;
}
.year{
    font-size: 0.9rem;
    color:#343433;
    margin-bottom: 5px;
}
.degree{
    color: #070707;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #2b2a2a;
    margin-bottom: 10px;
}
.edu1, .edu2{
    margin-bottom: 30px;
    position: relative;
     padding-left: 25px;
}
.goal{
    height: 12px;
    width: 12px;
    background-color: rgb(235, 218, 59);
    border-radius: 50%;
    border: 3px solid #060606;
    position: absolute;
    top:5px;
    left: 0px;
    z-index: 4 ;
}
.liner{
    position: absolute;
    width:2px;
    top:5px;
    bottom:5px;
    border: 1.5px solid #565656;
    left: 5px;
    background-color: #565656;
}

/* portfolio */

.project-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

.project img{
    height: 180px;
    width:100%;
}

.project{
    background-color: #040404;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5 ease;
}
.project:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 10px 15px rgba(240, 236, 240, 0.3);
}

.card{
   padding:20px;
}
.card h3{
    color:#FFBF00;
    margin-bottom: 10px;
}

     

.card p{
    line-height: 1.6;
    color:#c2c1be;
    margin-bottom: 15px;
}

.card span{
    line-height: 1.6;
    background-color: rgba(255, 191, 0, 0.1);
    color:#3866ee;
    border-radius: 5px;
    padding: 4px 8px;
    font-size: 0.85rem;
    margin-right: 5px;
    box-shadow: 0px 0px 2px whitesmoke;
}

/* responsive */
@media screen and (max-width:1200px) {
    .main-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }
    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .project-container{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}